.loader {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    --spinner-color: rgb(0, 133, 221);
    --bar-color: rgb(103, 255, 123);
    --dot-color: rgb(255, 111, 15);

    --loader-duration: 3s;
}