@use '../../breakpoints';

#about-me {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    overflow: hidden;

    #article {
        pointer-events: none;
        z-index: 1;
        max-width: 40%;
    }

    .carousel {
        position: absolute;
        top: 0;
        left: 35%;
        width: 60%;
        height: 100%;
        overflow: hidden;
        --image-fade: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
        mask-image: var(--image-fade);

        .carousel-item {
            mask-image: var(--image-fade);
        }

        img {
            position: absolute;
            inset: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            
        }

        button {
            background: rgba(255, 255, 255, 0.5);
            height: 100%;
            width: 20%;
            opacity: 0;

            &:hover {
                opacity: 1;
            }
        }
    }
}

@media only screen and (max-width: breakpoints.$mobile-breakpoint) {
    #about-me {
        gap: var(--medium-padding);

        .carousel {
            position: relative;
            inset: 0;
            height: 300px;
            width: 100%;

            img {
                height: 200%;
            }

            button {
                display: none;
            }
        }

        #article {
            max-width: 100%;
            flex: 2;
        }
    }
}