#bottom-bar {
    display: none;
    z-index: var(--app-bar-z-index);
    bottom: 0;
    width: 100%;
    position: fixed;
    height: var(--bottom-bar-height);
    background: var(--top-bar-bg);
}

#settings-drawer {
    background: var(--top-bar-bg);
    display: none;
}

@media only screen and (max-width: $mobile-breakpoint) {
    #bottom-bar {
        display: flex;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        justify-content: space-around;

        .bottom-bar-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: unset;
            line-height: 23px;
            background: none;
            text-decoration: none;
            color: white;
            opacity: .4;

            span {
                font-size: medium;
            }

            svg {
                min-height: 20px;
                min-width: 20px;
                max-height: 50px;
                max-width: 50px;
            }

            &.selected,
            &:hover {
                opacity: 1;
            }
        }
    }

    #settings-drawer {
        display: block;
        position: absolute;
        overflow: hidden;
        top: 100vh;
        transform: translateY(0);
        right: 0;
        padding: 13px;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-left: 1px solid rgba(255, 255, 255, 0.4);


        &.open {
            transform: translateY( calc(-100% - var(--bottom-bar-height)));
        }
    }
}