#ellipsis {
    display: flex;
    flex: 1;
    justify-content: space-around;

    >div {
        transform: scale(0);
        height: 20px;
        width: 20px;
        transform: translateY(-20px);
        background: orange;
        border-radius: 5px;
        animation: ellipsis 1s ease alternate infinite;
    }
}

@keyframes ellipsis {
    from {
        transform: scale(0) translateY(-20px);
    }

    to {
        transform: scale(1) translateY(0px);
    }
}