#ellipsis {
    display: flex;
    flex: 1;
    justify-content: space-between;

    >div {
        height: 20px;
        width: 20px;
        transform: translateY(-20px);
        background: var(--dot-color);
        border-radius: 5px;
        animation: ellipsis .5s ease alternate infinite;
    }
}

@keyframes ellipsis {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0px);
    }
}