#multiselect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--medium-padding);

    #buttons {
        border: 2px solid var(--on-surface-color);
        border-radius: 10px;
        display: flex;
        overflow: hidden;
        height: 40px;

        .divider {
            width: 2px;
            height: 100%;
            background: var(--on-surface-color);
        }

        button {
            height: 100%;
            width: 40px;
            background: var(--surface-color);
            color: var(--on-surface-color);

            &.selected {
                background: var(--primary-color);
                color: var(--on-primary-color);
            }

            span {
                font-size: x-large;
            }

            &#bold {
                font-weight: bolder;
            }

            &#italics {
                font-style: italic;
            }

            &#underline {
                text-decoration: underline;
            }
        }
    }

    span {
        font-size: x-large;
    }
}