#ripple-button {
    position: relative;
    border-radius: var(--small-padding);
    overflow: hidden;
    background: var(--primary-color);
    padding: 10px 30px;

    &:disabled {
        filter: grayscale(1);
    }

    span {
        font-size: x-large;
        font-weight: bold;
        color: var(--on-primary-color);
    }

    .ripple-effect {
        position: absolute;
        border-radius: 50%;
        transform: scale(0);
        background: white;
        animation: ripple 1s ease;
    }
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.snackbar {
    z-index: var(--snackbar-z-index);
    position: fixed;
    max-height: 100%;
    width: 300px;

    --snackbar-height: 50px;
    --snackbar-width: 200px;
    --snackbar-padding: 10px;
    --snackbar-gap: calc(var(--snackbar-height) + 10px);

    .snack {
        inset: 0;
        margin-top: var(--snackbar-padding);
        margin-left: var(--snackbar-padding);
        position: absolute;
        border-radius: var(--small-padding);
        min-width: var(--snackbar-width);
        max-width: fit-content;
        height: var(--snackbar-height);
        background: var(--surface-color);
        padding: var(--extra-small-padding) var(--small-padding);
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        border: 1px solid var(--on-surface-color);
        box-shadow: 2px 2px 20px var(--shadow-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@keyframes snackIn {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes snackOut {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}