#switch {
    padding: 0;
    height: fit-content;
    --border-radius: 50px;
    --handle-size: 30px;
    --track-padding: 10px;
    border-radius: var(--border-radius);
    filter: grayscale(1);

    #track {
        border-radius: var(--border-radius);
        position: relative;
        background: var(--primary-color);
        padding: var(--track-padding);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        #handle {
            position: absolute;
            background: var(--on-primary-color);
            border-radius: 50%;
            height: var(--handle-size);
            width: var(--handle-size);
            left: calc(var(--track-padding) / 2);
        }

        span {
            font-weight: bold;
            font-size: medium;
            color: var(--on-primary-color)
        }
    }

    &.on {
        filter: grayscale(0);

        #track {

            #handle {
                left: calc((100% - var(--handle-size)) - (var(--track-padding) / 2));
            }

            span {}
        }
    }
}