.card {
    background: var(--surface-color);
    padding: var(--medium-padding);
    border-radius: var(--medium-padding);

    &.clickable {
        border: 1px solid var(--primary-color);
        box-shadow: 0px 10px 10px var(--shadow-color);

        &:hover {
            cursor: pointer;
            box-shadow: 0px 2px 2px var(--shadow-color);
        }
    }
}