.carousel {
    position: relative;

    .carousel-container {
        height: 100%;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .carousel-item {
            flex: 0 0 100%;
            scroll-snap-align: start;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            position: relative;
            overflow: hidden;
        }
    }

    .progress-indicator {
        position: absolute;
        inset: 0;
    }

    .index-indicator {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .carousel-button {
        z-index: 12;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        background: transparent;

        svg {
            width: 40px;
            height: 40px;

            & * {
                fill: var(--on-surface-color);
            }
        }

        &.previous-button {
            svg {
                rotate: -90deg;
            }
        }

        &.next-button {
            right: 0;

            svg {
                rotate: 90deg;
            }
        }
    }
}