#dialog {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    animation: dialogOpen;
    animation-fill-mode: forwards;

    #inner {
        position: relative;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;

        #dialog-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: var(--content-max-width);

            .card {
                display: flex;
                flex-direction: column;

                #card-content {
                    position: relative;
                    flex: 1;
                    display: flex;
                    min-width: 100px;
                    min-height: 100px;
                }

                #header {
                    display: flex;
                    justify-content: space-between;

                    h1 {
                        margin-top: 0;
                    }

                    #close-button {
                        margin-left: auto;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        padding: 0;
                    }
                }
            }
        }

        #dialog-background {
            height: 100%;
            width: 100%;
            background: black;
            opacity: .5;
            
        }
    }

    &.closing {
        animation: dialogClose;
        animation-fill-mode: forwards;
    }
}

@keyframes dialogOpen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes dialogClose {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}