.index-indicator {
    z-index: 1;
    display: flex;
    position: relative;

    --indicator-size: 10px;

    gap: var(--indicator-size);
    padding-bottom: var(--indicator-size);

    .indicator {
        border-radius: 50%;
        height: var(--indicator-size);
        width: var(--indicator-size);
        background: var(--light-color);
        box-shadow: var(--indicator-shadow);
        opacity: .5;
    }

    #current {
        position: absolute;
        opacity: 1;
    }
}