.page {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  transform: translate(0%);
  overflow: hidden;

  .content {
    display: flex;
    padding: var(--medium-padding);
    max-width: var(--content-max-width);
    flex: 1;
  }
}