.page {
  border: 2px solid orange;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  transform: translate(0%);

  .content {
    border: 1px solid blue;
    padding: var(--small-padding);
    max-width: var(--content-max-width);
    flex: 1;
  }
}