.progress-indicator {
    height: 4px;
    width: 100%;
    z-index: 1;
    position: relative;

    .progress-loader {
        position: absolute;
        height: 100%;
        width: 0;
        background: var(--light-color);
        box-shadow: var(--indicator-shadow);
    }
}