@import '../../variables';

#skills {
    display: flex;
    flex: 1;
    gap: 30px;
    justify-content: space-between;
    padding-bottom: var(--extra-large-padding);

    --path-line-color: white;

    #timeline {
        flex: 1;

        .timeperiod {
            display: flex;
            gap: var(--medium-padding);
            flex-direction: row;

            .date {
                display: flex;
                justify-content: end;
                min-width: 100px;
            }

            .path {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                .dot {
                    padding-top: var(--extra-large-padding);
                    padding-bottom: var(--extra-large-padding);

                    div {
                        height: 14px;
                        width: 14px;
                        background: var(--primary-color);
                        border-radius: 50%;
                    }
                }

                .line {
                    width: 4px;
                    border-radius: 2px;
                    height: 100%;
                    border: 2px solid var(--path-line-color);
                    opacity: .5;
                }
            }

            &:last-child {
                .path {
                    .line {
                        border-right: none;
                        border-left: 5px dotted var(--path-line-color);


                        &::after {
                            position: absolute;
                            content: " ";
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 20px solid var(--path-line-color);
                            bottom: -3px;
                            left: -3px;
                        }
                    }
                }
            }

            .article {
                p {
                    a {
                        color: var(--primary-color);
                        text-decoration: none;
                    }
                }
            }
        }
    }

    #skill-list {
        flex: 1;

        #skill-grid {
            display: flex;
            flex-wrap: wrap;
            gap: var(--medium-padding);

            .card {
                display: flex;
                padding: var(--medium-padding) var(--large-padding);
                flex: 1;

                .skill-card {
                    display: flex;
                    flex-direction: column;
                    gap: var(--small-padding);
                    align-items: center;
                    justify-content: space-between;
                    flex: 1;

                    .logo {
                        display: flex;
                        gap: var(--medium-padding);
                        justify-content: center;
                        position: relative;
                        min-height: 50px;
                        min-width: 100px;

                        svg {
                            height: 50px;
                            width: 50px;

                            &#react {
                                animation: react 4s linear infinite;
                            }

                            &#javascript {
                                border-radius: 5px;
                                position: absolute;
                                animation: javascript 2s ease-in-out infinite;
                            }

                            &#typescript {
                                position: absolute;
                                animation: typescript 2s ease-in-out infinite;
                            }
                        }
                    }

                    span {
                        width: 100%;
                        text-align: center;
                        font-size: x-large;
                    }
                }
            }
        }
    }
}

@keyframes react {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes javascript {
    0% {
        left: -10%;
        rotate: -15deg;
        z-index: 1;
        opacity: 1;
        transform: scale(1);
    }

    25% {
        opacity: .5;
        transform: scale(.7);
    }

    49% {
        z-index: 1;
        opacity: 1;
    }

    50% {
        left: calc(110% - 50px);
        rotate: 15deg;
        z-index: 2;
        transform: scale(1);
    }

    75% {
        transform: scale(1.3);
    }

    100% {
        left: -10%;
        rotate: -15deg;
        z-index: 2;
        transform: scale(1);
    }
}

@keyframes typescript {
    0% {
        right: -10%;
        rotate: 15deg;
        z-index: 2;
        transform: scale(1);
    }

    25% {
        transform: scale(1.3);
    }

    49% {
        z-index: 2;
    }

    50% {
        right: calc(110% - 50px);
        rotate: -15deg;
        z-index: 1;
        opacity: 1;
        transform: scale(1);
    }

    75% {
        opacity: .5;
        transform: scale(.7);
    }

    100% {
        right: -10%;
        rotate: 15deg;
        z-index: 1;
        opacity: 1;
        transform: scale(1);
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    #skills {
        flex-direction: column-reverse;
        gap: 0;
    }
}