#top-bar {
    display: flex;
    z-index: 2;
    position: fixed;
    width: 100%;
    justify-content: center;
    height: var(--top-bar-height);
    background: var(--top-bar-bg);

    .inner {
        display: flex;
        justify-content: space-between;
        flex: 0 1 var(--content-max-width);
        padding: 0 var(--small-padding);

        .controls {
            display: flex;
            gap: var(--small-padding);
            justify-content: space-between;
            align-items: center;
            flex: 0 1 300px;
        }
    }
}