@use '../../breakpoints';

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 30px;
    justify-content: space-between;

    --path-line-color: var(--text-color);
    --icon-size: 30px;

    #timeline {
        flex: 1;
        max-width: 50%;
        padding-bottom: var(--extra-large-padding);

        .timeperiod {
            display: flex;
            gap: var(--medium-padding);
            flex-direction: row;

            .date {
                display: flex;
                justify-content: end;
                min-width: 100px;
            }

            .path {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                .dot {
                    padding-top: var(--extra-large-padding);
                    padding-bottom: var(--extra-large-padding);

                    div {
                        height: 14px;
                        width: 14px;
                        background: var(--primary-color);
                        border-radius: 50%;
                    }
                }

                .line {
                    position: absolute;
                    margin-top: 55px;
                    width: 4px;
                    border-radius: 2px;
                    height: 85%;
                    border: 2px solid var(--path-line-color);
                    opacity: .5;
                }
            }

            &:last-child {
                .path {
                    .line {
                        border-right: none;
                        border-left: 5px dotted var(--path-line-color);

                        &::after {
                            position: absolute;
                            content: " ";
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 20px solid var(--path-line-color);
                            bottom: -7px;
                            left: -12px;
                        }
                    }
                }
            }
        }
    }

    #skill-list {
        flex: 1;

        #skill-grid {
            display: flex;
            flex-wrap: wrap;
            gap: var(--small-padding);

            .card {
                display: flex;
                padding: var(--medium-padding) var(--large-padding);
                flex: 1;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                .logo {
                    display: flex;
                    gap: var(--medium-padding);
                    justify-content: center;
                    position: relative;
                    min-height: 50px;
                    min-width: 100px;

                    svg {
                        height: var(--icon-size);
                        width: var(--icon-size);

                        &#react {
                            animation: react 4s linear infinite;
                        }

                        &#javascript {
                            border-radius: 2px;
                            position: absolute;
                            animation: javascript 2s ease-in-out infinite;
                        }

                        &#typescript {
                            position: absolute;
                            animation: typescript 2s ease-in-out infinite;
                        }

                        &#CSS {
                            z-index: 1;
                            position: absolute;
                            animation: CSS 3s ease infinite;
                        }

                        &#Scss {
                            z-index: 0;
                            position: absolute;
                            animation: Scss 3s ease-in-out alternate infinite;
                        }

                        &#Kotlin {
                            position: absolute;
                            animation: Kotlin 2s ease infinite;
                        }

                        &#Android {
                            position: absolute;
                            animation: Android 2s ease infinite;
                        }

                        &#Git {
                            animation: Git 4s ease infinite;
                        }
                    }
                }

                #heart {
                    position: absolute;
                    animation: heart 2s ease infinite;
                }

                span {
                    width: 100%;
                    text-align: center;
                    font-size: small;
                }
            }
        }
    }
}

@keyframes react {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes javascript {
    0% {
        left: 10%;
        rotate: -15deg;
        z-index: 1;
        opacity: 1;
        transform: scale(1);
    }

    25% {
        opacity: .5;
        transform: scale(.7);
    }

    49% {
        z-index: 1;
        opacity: 1;
    }

    50% {
        left: calc(90% - var(--icon-size));
        rotate: 15deg;
        z-index: 2;
        transform: scale(1);
    }

    75% {
        transform: scale(1.3);
    }

    100% {
        left: 10%;
        rotate: -15deg;
        z-index: 2;
        transform: scale(1);
    }
}

@keyframes typescript {
    0% {
        right: 10%;
        rotate: 15deg;
        z-index: 2;
        transform: scale(1);
    }

    25% {
        transform: scale(1.3);
    }

    49% {
        z-index: 2;
    }

    50% {
        right: calc(90% - var(--icon-size));
        rotate: -15deg;
        z-index: 1;
        opacity: 1;
        transform: scale(1);
    }

    75% {
        opacity: .5;
        transform: scale(.7);
    }

    100% {
        right: 10%;
        rotate: 15deg;
        z-index: 1;
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes CSS {
    0% {}

    50% {
        transform: translateY(0);
    }

    53% {
        transform: translateY(10%);
    }

    56% {
        transform: translateY(-10%);
    }

    59% {
        transform: translateY(10%);
    }

    62% {
        transform: translateY(-10%);
    }

    65% {
        transform: translateY(10%);
    }

    68% {
        transform: translateY(0);
    }

    100% {}
}

@keyframes Scss {
    0% {
        right: 0;
        opacity: 1;
        transform: translateX(0);
        filter: grayscale(1);
    }

    50% {
        opacity: 0;
        right: 50%;
        transform: translateX(50%);
    }

    68% {
        opacity: 0;
        right: 50%;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        right: calc(95% - var(--icon-size));
        transform: translateX(0);
    }
}

@keyframes Kotlin {
    0% {
        left: 10%;
        transform: translateX(0);
    }

    50% {
        left: 30%;
        transform: translateX(-30%) rotate(10deg);
    }

    53% {
        left: 30%;
        transform: translateX(-30%) rotate(5deg);
    }

    56% {
        left: 30%;
        transform: translateX(-30%) rotate(10deg);
    }

    59% {
        left: 30%;
        transform: translateX(-30%) rotate(5deg);
    }

    62% {
        left: 30%;
        transform: translateX(-30%) rotate(10deg);
    }

    65% {
        left: 30%;
        transform: translateX(-30%) rotate(10deg);
    }

    100% {
        left: 10%;
        transform: translateX(0) translateY(0);
    }
}

@keyframes Android {
    0% {
        right: 10%;
        transform: translateX(0);
    }

    50% {
        right: 30%;
        transform: translateX(30%) rotate(-10deg);
    }

    53% {
        right: 30%;
        transform: translateX(30%) rotate(-5deg);
    }

    56% {
        right: 30%;
        transform: translateX(30%) rotate(-10deg);
    }

    59% {
        right: 30%;
        transform: translateX(30%) rotate(-5deg);
    }

    62% {
        right: 30%;
        transform: translateX(30%) rotate(-10deg);
    }

    65% {
        right: 30%;
        transform: translateX(30%) rotate(-10deg);
    }

    100% {
        right: 10%;
        transform: translateX(0) translateY(0);
    }
}

@keyframes heart {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
        transform: translateY(0);
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-150%);
    }
}

@media only screen and (max-width: breakpoints.$mobile-breakpoint) {
    #skills {
        align-items: start;

        #timeline {
            max-width: 100%;

            .timeperiod {

                .date {
                    min-width: 65px;

                    h2 {
                        margin-top: 25px;
                        font-size: medium;
                    }
                }

                .article {
                    flex: 2;
                }
            }
        }
    }
}