#rock-paper-scissors-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 400px;
    height: 100%;
    border: 1px solid;

    --card-width: 70px;
    --card-height: 100px;

    .winner-title {
    }

    .game-board {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border: 1px dashed;

        .hand {
            position: relative;
            border: 1px dashed;
            width: calc(2 * var(--card-width));
            height: var(--card-height);

            .game-card {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgb(49, 37, 18);
                border: 1px solid blue;
                border-radius: 8px;
                top: 0;
                left: 0;
                width: var(--card-width);
                height: 100%;

                svg {
                    height: 40px;
                    width: 40px;

                    & * {
                        fill: white;
                    }
                }

                &.player-play {
                    top: -150px;
                }

                &.computer-play {
                    top: 150px;
                }
            }
        }
    }
}