.search-and-filter {
    --search-bar-height: 40px;

    .search-controls {
        display: flex;
        flex-direction: column;
        gap: var(--medium-padding);

        .search {
            height: var(--search-bar-height);
            display: flex;

            input {
                border: 4px solid var(--primary-color);
                border-right: none;
                border-radius: var(--small-padding) 0 0 var(--small-padding);
                outline: none;
            }

            .search-button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                height: var(--search-bar-height);
                width: var(--search-bar-height);
                background: var(--primary-color);
                text-align: center;
                border-radius: 0 var(--small-padding) var(--small-padding) 0;

                svg {
                    height: 20px;
                    width: 20px;

                    & * {
                        stroke: var(--on-primary-color);
                        stroke-width: 4px;
                    }
                }
            }
        }

        .sorting {
            display: flex;
            justify-content: space-between;

            button {
                height: 40px;
                width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--surface-color);
                box-shadow: inset 0 0 0 2px var(--on-surface-color);
                border-radius: var(--extra-large-padding);

                svg {
                    width: 30px;
                    height: 30px;

                    & * {
                        fill: var(--on-surface-color);
                    }
                }

                &.selected {
                    background: var(--on-surface-color);

                    svg {

                        & * {

                            fill: var(--surface-color);
                        }
                    }
                }
            }
        }
    }

    .results {
        display: flex;
        flex-direction: column;
        gap: var(--small-padding);
        margin: var(--large-padding) 0;
        padding-bottom: var(--medium-padding);
        width: 100%;
        height: 300px;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        mask-image: linear-gradient(to bottom, black 80%, transparent);

        .result {
            background: var(--on-surface-color);
            height: fit-content;
            border-radius: var(--small-padding);
            display: flex;
            justify-content: space-between;
            padding: var(--small-padding);
            color: var(--surface-color);

            span {
                font-size: large;
            }
        }
    }
}