@use '../../breakpoints';

#examples {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    h1 {
        margin-bottom: 0;
    }

    .examples-content {
        padding: var(--small-padding);

        .examples-section {

            .examples-grid {
                display: flex;
                flex-wrap: wrap;
                gap: var(--medium-padding);

                .card {
                    overflow: hidden;
                    padding: var(--medium-padding) var(--extra-large-padding);

                    .card-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: var(--small-padding);
                        height: 100%;
                        width: 100%;

                        .example-icon {
                            svg {
                                height: 40px;
                                width: 40px;

                                * {
                                    fill: var(--on-surface-color);
                                }
                            }
                        }

                        span {
                            font-size: medium;
                        }
                    }
                }
            }
        }

        .outro-article {
            margin-top: 40px;
        }
    }
}

@media only screen and (max-width: breakpoints.$mobile-breakpoint) {
    #examples {
        .examples-content {

            .examples-section {

                .examples-grid {

                    .card {
                        flex: 1;
                    }
                }
            }
        }
    }
}