#intro {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 100;

    --start-buffer-duration: .5s;
    --color-swipe-duration: 2s;

    #start-buffer {
        background-color: var(--app-background);
        height: 100%;
        width: 100%;
        visibility: visible;
        animation: startBufferRemove var(--start-buffer-duration) linear forwards;
        animation-delay: var(--start-buffer-duration);
    }

    #intro-content {
        position: relative;
        display: flex;
        height: 100%;

        .color-swipe {
            position: absolute;
            left: -80%;
            width: 0;
            height: 100%;
            transform: skewX(-30deg);
            background: var(--primary-color);
            animation: colorSwipe var(--color-swipe-duration) ease-in forwards;
        }

        #intro-logo-wrapper {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(10px);
            color: var(--on-surface-color);
            background: var(--blur-surface-color);
            opacity: 0;

            h1 {
                span {
                    display: inline-block;
                    opacity: 0;
                    font-size: 100px;
                    animation: logoCharacter 1s ease forwards;

                    &.first-name {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }
}

@keyframes startBufferRemove {
    from {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }
}

@keyframes colorSwipe {
    0% {
        left: -80%;
        width: 0;
    }

    50% {
        left: -80%;
        width: 250%;
    }

    100% {
        left: 200%;
        width: 0;
    }
}

@keyframes introLogoAdd {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes introLogoRemove {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes logoCharacter {
    0% {
        opacity: 0;
        transform: translateX(-50px) rotate(-15deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0) rotate(0deg);
    }
}