#intro {
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--intro-bg);
    z-index: 100;
    animation:
        var(--intro-middle-animation),
        var(--intro-exit-animation) var(--intro-middle-animation-duration);

    &.with-start-animation {
        animation:
            var(--intro-start-animation),
            var(--intro-middle-animation) var(--intro-middle-animation-delay),
            var(--intro-exit-animation) var(--intro-exit-animation-delay);
    }
}