#ui-element-dialog-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--extra-large-padding);
    gap: var(--extra-large-padding);

    .ui-element-row {
        display: flex;
        gap: var(--extra-large-padding);
    }
}