@use '../../breakpoints';

#theme-picker {
    --theme-button-size: 25px;
    --theme-button-size-mobile: 30px;
    --button-start-position: 50px;

    display: flex;
    align-items: center;
    height: 100%;
    gap: var(--small-padding);
    overflow: hidden;

    .theme-button {
        border-radius: 50%;
        height: var(--theme-button-size);
        width: var(--theme-button-size);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: .5;
        transform: translateY(var(--button-start-position));
        padding: 3px;

        svg {
            max-width: calc(var(--theme-button-size) - 5px);
            max-height: calc(var(--theme-button-size) - 5px);
        }

        &.selected,
        &:hover {
            opacity: 1;
        }

        &.dark-theme {
            border: 2px solid #FAF1E6;
            background-color: #292725;

            svg {
                color: #FAF1E6;
            }
        }

        &.light-theme {
            border: 2px solid #292725;
            background-color: #FAF1E6;

            svg {
                color: #292725;
            }
        }

        &.neumorphism {
            --highlight-color: #e6f0f1;
            --shadow-color: #454747;
            --shadow-blur: 5px;
            --shadow-offset: 2px;
            --shadow-negative-offset: -2px;

            background: linear-gradient(145deg, var(--highlight-color), var(--shadow-color));
            box-shadow: var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-color),
                var(--shadow-negative-offset) var(--shadow-negative-offset) var(--shadow-blur) var(--highlight-color);

            &:hover {
                background: linear-gradient(145deg, var(--shadow-color), var(--highlight-color));
            }
        }

        &.nature {
            background: white;
            border: 2px solid green;

            svg {
                fill: green;
            }
        }

        &.frutiger-aero {
            position: relative;
            background: linear-gradient(to bottom, rgba(1, 224, 240, 0.8), rgb(166, 252, 252));

            &::after {
                content: "";
                position: absolute;
                top: 4%;
                width: calc(100% - 1em);
                height: 50%;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
                border-radius: 999px;
                transition: background 400ms;
            }
        }

        &.retro {
            background: white;
        }
    }
}

@keyframes themeButton {
    0% {
        transform: translateY(var(--button-start-position));
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media only screen and (max-width: breakpoints.$mobile-breakpoint) {
    #theme-picker {
        overflow: visible;

        .theme-button {
            border-radius: 50%;
            height: var(--theme-button-size-mobile);
            width: var(--theme-button-size-mobile);

            svg {
                max-width: calc(var(--theme-button-size-mobile) - 10px);
                max-height: calc(var(--theme-button-size-mobile) - 10px);
            }
        }
    }
}