#contact {
    flex: 1;
    display: flex;
    flex-direction: column;

    #contact-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: var(--extra-large-padding);
        justify-content: center;
        align-items: center;

        #socials {
            display: flex;
            gap: var(--medium-padding);

            a {
                svg {
                    height: 40px;
                    width: 40px;

                    & * {
                        fill: var(--text-color);
                    }
                }

                &:hover {
                    scale: 1.2;

                    & * {
                        fill: var(--primary-color);
                    }
                }
            }
        }
    }
}