.light-theme {
    --intro-bg-light: green;
    --navigation-bg-light: pink;
    --button-bg-light: rgb(104, 104, 104);
    --button-color-light: white;

    background: white;
    color: black;
    --navigation-bg: var(--navigation-bg-light);
    --button-bg: var(--button-bg-light);
    --button-color: var(--button-color-light);

    --intro-start-animation: introStartAnimationLight var(--intro-start-animation-duration) ease forwards;
    --intro-middle-animation: introMiddleAnimationLight var(--intro-middle-animation-duration) ease forwards;
    --intro-exit-animation: introExitAnimationLight var(--intro-exit-animation-duration) ease forwards;

    --intro-bg: var(--intro-bg-light);
}

@keyframes introStartAnimationLight {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes introMiddleAnimationLight {
    from {
        background-color: var(--intro-bg-light);
    }

    to {
        background-color: red;
    }
}

@keyframes introExitAnimationLight {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}