@use '../../breakpoints';

#bottom-bar {
    display: none;
    z-index: var(--app-bar-z-index);
    bottom: 0;
    width: 100%;
    position: fixed;
    height: var(--bottom-bar-height);
}

@media only screen and (max-width: breakpoints.$mobile-breakpoint) {
    #bottom-bar {
        display: flex;

        nav {
            flex: 1;
            position: relative;
            display: flex;
            background: var(--app-bar-background);
            border-top: 1px solid var(--text-color);
            justify-content: space-around;

            .navigation-item,
            .bottom-bar-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: unset;
                line-height: 23px;
                background: none;
                text-decoration: none;
                color: var(--text-color);
                opacity: .4;
                padding: 0;

                span {
                    font-size: small;
                }

                svg {
                    height: 40px;
                    width: 40px;

                    * {
                        fill: none;
                        stroke: var(--text-color);
                    }
                }

                &.selected,
                &:hover {
                    opacity: 1;

                    * {
                        fill: var(--text-color);
                        stroke: none;
                    }
                }
            }
        }

        #settings-drawer {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            background: var(--app-bar-background);
            border-top: 1px solid var(--text-color);
            border-left: 1px solid var(--text-color);
            border-top-left-radius: var(--medium-padding);

            &.open {
                transform: translateY(-100%);
            }

            #drawer-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                padding: var(--extra-large-padding) var(--medium-padding);
                gap: var(--extra-large-padding);

                #theme-picker {
                    .theme-button {
                        height: 40px;
                        width: 40px;
                    }
                }
            }
        }
    }
}