@use '../breakpoints';

.page {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translate(0%);
  overflow: hidden;

  .page-inner {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    overflow-y: auto;
    flex: 1;

    .content {
      display: flex;
      padding: var(--medium-padding);
      max-width: var(--content-max-width);
      flex: 1;
    }
  }
}

@media only screen and (max-width: breakpoints.$mobile-breakpoint) {
  .page {
    .content {
      h1 {
        margin-top: 0;
      }
    }
  }
}