.circle-regular {
    animation: circleRegularSpin 2s linear infinite;
    height: 100%;
    width: 100%;

    circle {
        fill: none;
        transform-origin: 50% 50%;
        stroke: var(--spinner-color);
        stroke-width: 15px;
        stroke-dasharray: 250;
        stroke-linecap: round;
        animation: circleRegularStrokeOffset var(--loader-duration) ease infinite;
    }
}

@keyframes circleRegularSpin {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes circleRegularStrokeOffset {
    0% {
        stroke-dashoffset: 245;
        transform: rotate(0);
    }

    50% {
        stroke-dashoffset: 70;
        transform: rotate(45deg);
    }

    100% {
        stroke-dashoffset: 245;
        transform: rotate(360deg);
    }
}