.dark-theme {
    /* Common */
    --primary-color: #FB8B53;
    --on-primary-color: var(--text-color);
    --surface-color: #3a3734;
    --on-surface-color: var(--text-color);
    --dialog-color: var(--surface-color);
    --blur-surface-color: rgba(34, 33, 32, 0.5);
    --text-color: #FAF1E6;
    --shadow-color: #161311;
    --icon-color: var(--text-color);
    --close-button-color: var(--icon-color);

    --app-background: #292725;
    --app-bar-background: var(--primary-color);

    --surface-border-radius: var(--medium-padding);

    /* Theme specific */

    color: var(--text-color);

    #app-background {
        background: var(--app-background);
    }

    #navigation-bar {

        .navigation-item {
            color: var(--on-primary-color);

            &::after {
                content: " ";
                opacity: 0;
                position: absolute;
                inset: 0;
                width: 30%;
                height: 100%;
                background: var(--app-background);
            }

            &:hover,
            &.selected {

                &::after {
                    opacity: 1;
                    width: 100%;
                }

            }
        }
    }
}