.dark-theme {
    /* Common */
    --primary-color: #F2613F;
    --surface-color: #3a3734;
    --on-surface-color: var(--text-color);
    --blur-surface-color: rgba(34, 33, 32, 0.5);
    --text-color: #d0d5e0;
    --shadow-color: #161311;
    --icon-color: var(--text-color);
    --close-button-color: var(--icon-color);

    --app-background: #292725;
    --app-bar-background: var(--app-background);

    --surface-border-radius: var(--medium-padding);

    /* Theme specific */

    color: var(--text-color);

    #app-background {
        background: var(--app-background);
    }

    #navigation-bar {

        .navigation-item {
            color: var(--text-color);
            opacity: .5;

            &:hover,
            &.selected {
                color: white;
                opacity: 1;
            }
        }
    }
}