.light-theme {
    /* Common */
    --primary-color: #F2613F;
    --surface-color: #b3ae9f;
    --on-surface-color: var(--app-background);
    --blur-surface-color: rgba(34, 33, 32, 0.5);
    --text-color: #39393a;
    --shadow-color: #948b76;
    --icon-color: var(--text-color);
    --close-button-color: var(--on-surface-color);

    --app-background: #FAF1E6;
    --app-bar-background: var(--app-background);

    --surface-border-radius: var(--medium-padding);

    /* Theme specific */

    color: var(--text-color);

    #app-background {
        background: var(--app-background);
    }

    #navigation-bar {

        .navigation-item {
            color: var(--text-color);

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                opacity: 0;
                width: 0%;
                left: 50%;
                height: 100%;
                background: var(--primary-color);
                transform: translateX(-50%);
            }

            &:hover,
            &.selected {
                color: var(--app-background);

                &::after {
                    opacity: 1;
                    width: 100%;
                }
            }
        }
    }
}