.neumorphism {
    /* Common */
    //--primary-color: #F2613F;
    //--surface-color: #3a3734;
    --on-surface-color: var(--text-color);
    //--blur-surface-color: rgba(34, 33, 32, 0.5);
    --text-color: #4d4c4b;
    --shadow-color: #a3afb3;
    --icon-color: var(--text-color);
    //--close-button-color: var(--icon-color);

    --app-background: #ebf0f3;
    --app-bar-background: var(--app-background);

    --surface-border-radius: var(--medium-padding);

    /* Theme specific */
    --highlight-color: rgb(255, 254, 251);

    color: var(--text-color);

    #app-background {
        background: var(--app-background);
    }

    .card {
        box-shadow: inset 10px 10px 10px var(--shadow-color), inset -10px -10px 10px var(--highlight-color);
    }
}