@import '../../variables';

#about-me {
    display: flex;
    flex: 1;

    --article-background: var(--blur-surface-color);

    #article {
        z-index: 1;
        max-width: 40%;
        height: fit-content;
        backdrop-filter: blur(10px);
        background: var(--article-background);
        box-shadow: 0 0 10px 5px var(--article-background);
        border-radius: var(--surface-border-radius);
        padding: var(--medium-padding);
        margin-top: 100px;
        color: var(--on-surface-color);

        h2 {
            text-align: center;
        }

        p {
            font-weight: 700;
        }

        a {
            color: var(--primary-color);
            text-decoration: none;
        }
    }

    img {
        position: absolute;
        inset: 0;
        max-width: 2000px;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    #about-me {
        align-items: center;
        justify-content: center;

        #article {
            max-width: 100%;
        }
    }
}