#about-me {
    display: flex;
    flex: 1;
    gap: var(--small-padding);

    #article {
        z-index: 1;
        max-width: 50%;
        margin-top: 10%;
        color: white;

        h2 {
            text-align: center;
        }
    }

    img {
        position: absolute;
        left: 0;
        top: -15%;
        width: 120%;
    }
}