@use '../breakpoints';

#language-picker {
    display: flex;
    gap: var(--small-padding);

    .language {
        padding: 0;
        height: 20px;
        width: 35px;
        border-radius: var(--small-padding);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        opacity: .5;

        &.selected,
        &:hover {
            opacity: 1;
        }

        svg {
            max-width: 50px;
            max-height: 50px;
        }
    }
}

@media only screen and (max-width: breakpoints.$mobile-breakpoint) {
    #language-picker {
        .language {
            height: 30px;
            width: 50px;
        }
    }
}