#language-picker {
    display: flex;
    gap: var(--small-padding);

    .language {
        position: relative;
        padding: 0;
        height: 30px;
        width: 50px;
        border-radius: var(--small-padding);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        opacity: .5;

        &.selected, &:hover {
            opacity: 1;
        }

        svg {
            max-width: 50px;
            max-height: 50px;
        }
    }
}