#navigation-bar {
  display: flex;
  flex: 0 1 500px;
  justify-content: flex-end;
  align-items: center;

  #home-button {
    margin-right: auto;
  }

  .navigation-item {
    z-index: 1;
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px var(--small-padding);

    &::after {
      z-index: -1;
    }
  }
}