#theme-picker {
    --theme-button-size: 30px;

    display: flex;
    align-items: center;
    gap: var(--small-padding);

    .theme-button {
        border-radius: 50%;
        height: var(--theme-button-size);
        width: var(--theme-button-size);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: .5;

        div {
            display: flex;
        }

        svg {
            max-width: calc(var(--theme-button-size) - 10px);
            max-height: calc(var(--theme-button-size) - 10px);
        }

        &.selected, &:hover {
            opacity: 1;
        }

        &.dark-theme {
            border: 2px solid white;
            background-color: black;

            svg {
                fill: white;
            }
        }

        &.light-theme {
            border: 2px solid black;
            background-color: white;
        }

        &.skeuomorphism {
            --highlight-color: #e6f0f1;
            --shadow-color: #454747;
            --shadow-blur: 5px;
            --shadow-offset: 2px;
            --shadow-negative-offset: -2px;

            background: linear-gradient(145deg, var(--highlight-color), var(--shadow-color));
            box-shadow: var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-color),
                var(--shadow-negative-offset) var(--shadow-negative-offset) var(--shadow-blur) var(--highlight-color);

            &:hover {
                background: linear-gradient(145deg, var(--shadow-color), var(--highlight-color));
            }
        }

        &.nature {
            background: white;
            border: 2px solid green;

            svg {
                fill: green;
            }
        }

        &.frutiger-aero {
            position: relative;
            background: linear-gradient(to bottom, rgba(1, 224, 240, 0.8), rgb(166, 252, 252));

            &::after {
                content: "";
                position: absolute;
                top: 4%;
                width: calc(100% - 1em);
                height: 50%;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
                border-radius: 999px;
                transition: background 400ms;
            }
        }

        &.retro {
            background: white;
        }
    }
}