#app {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: hidden;

  &,
  & *,
  & *::after {
    transition: all .2s;
  }

  --intro-start-animation-duration: .5s;
  --intro-middle-animation-duration: .5s;
  --intro-exit-animation-duration: .5s;

  --intro-middle-animation-delay: var(--intro-start-animation-duration);
  --intro-exit-animation-delay: calc(var(--intro-middle-animation-delay) + var(--intro-middle-animation-duration));

  --tiny-padding: 4px;
  --xtra-small-padding: 8px;
  --small-padding: 16px;
  --middle-padding: 24px;
  --large-padding: 32px;

  --top-bar-max-width: 1200px;

  --top-bar-bg-dark: transparent;

  --bg-dark: #252729;

  --color-dark: white;

  --intro-bg-light: green;
  --intro-bg-dark: blue;

  --navigation-bg-light: pink;
  --navigation-bg-dark: blue;

  --button-bg-light: rgb(104, 104, 104);
  --button-bg-dark: rgb(235, 235, 235);

  --button-color-light: white;
  --button-color-dark: black;

  &.dark-theme {
    background: var(--bg-dark);
    color: var(--color-dark);
    --color: var(--color-dark);
    --background: var(--bg-dark);
    --top-bar-bg: var(--top-bar-bg-dark);

    --navigation-bg: var(--navigation-bg-dark);
    --button-bg: var(--button-bg-dark);
    --button-color: var(--button-color-dark);

    --intro-start-animation: introStartAnimationDark var(--intro-start-animation-duration) ease forwards;
    --intro-middle-animation: introMiddleAnimationDark var(--intro-middle-animation-duration) ease forwards;
    --intro-exit-animation: introExitAnimationDark var(--intro-exit-animation-duration) ease forwards;

    --intro-bg: var(--intro-bg-dark);
  }

  &.light-theme {
    background: white;
    color: black;
    --navigation-bg: var(--navigation-bg-light);
    --button-bg: var(--button-bg-light);
    --button-color: var(--button-color-light);

    --intro-start-animation: introStartAnimationLight var(--intro-start-animation-duration) ease forwards;
    --intro-middle-animation: introMiddleAnimationLight var(--intro-middle-animation-duration) ease forwards;
    --intro-exit-animation: introExitAnimationLight var(--intro-exit-animation-duration) ease forwards;

    --intro-bg: var(--intro-bg-light);
  }

  button {
    padding: 16px;
    color: var(--button-color);
    background-color: var(--button-bg);
    border: none;
    border-radius: 16px;

    &:hover {
      filter: brightness(0.5);
      cursor: pointer;
    }
  }
}

@keyframes introStartAnimationDark {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes introMiddleAnimationDark {
  from {
    background-color: var(--intro-bg-dark);
  }

  to {
    background-color: orange;
  }
}

@keyframes introExitAnimationDark {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes introStartAnimationLight {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes introMiddleAnimationLight {
  from {
    background-color: var(--intro-bg-light);
  }

  to {
    background-color: red;
  }
}

@keyframes introExitAnimationLight {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}