@use './ui/breakpoints';

#app {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: var(--app-background);

	--default-orange: #FB8B53;
	--light-color: #FAF1E6;
	--on-primary-color: var(--light-color);
	--overlay-color: rgba(0, 0, 0, 0.5);

	--indicator-shadow: 0 0 10px 2px var(--shadow-color);

	--extra-small-padding: 4px;
	--small-padding: 8px;
	--medium-padding: 16px;
	--large-padding: 24px;
	--extra-large-padding: 32px;

	--content-max-width: 1200px;

	--top-bar-height: 50px;
	--bottom-bar-height: 100px;

	--snackbar-z-index: 10;
	--dialog-z-index: 5;
	--app-bar-z-index: 2;
	--app-background-z-index: -1;

	&,
	& *,
	& *::after {
		transition: all .2s;
	}

	button {
		border: none;

		&:hover {
			cursor: pointer;
		}
	}

	p {
		font-weight: bold;
	}

	#background-image {
		position: absolute;
		opacity: .5;
		height: 100%;
		width: 100%;
	}

	#app-bar {
		z-index: var(--app-bar-z-index);
		#app-banner {
			display: flex;
			justify-content: center;
			background: rgb(65, 82, 82);
			color: white;
		}
	}

	#app-content {
		margin-top: var(--top-bar-height);
		position: relative;
		overflow-x: hidden;
		flex: 1;

		a {
			color: var(--primary-color);
			text-decoration: none;
		}
	}
}

@media only screen and (max-width: breakpoints.$mobile-breakpoint) {
	#app {
		#app-content {
			margin-top: 0;
			margin-bottom: var(--bottom-bar-height);
		}
	}
}