@import "tailwindcss";

* {
    box-sizing: border-box;
}

#root {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
}

.page-content {
    view-transition-name: page-content;
}

@theme {
    --font-sans: "Red Hat Display", sans-serif;
}