@import "tailwindcss";

* {
    box-sizing: border-box;
}

#root {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
}

.page-content {
    view-transition-name: page-content;
}

::view-transition-old(page-content) {
    animation: slide-out 350ms ease forwards;
}

::view-transition-new(page-content) {
    animation: slide-in 350ms ease forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}