#progress-bar {
    width: 100%;

    span {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: x-large;
    }

    .bar {
        height: 10px;
        background: var(--bar-color);
        border-radius: var(--small-padding);
    }
}