@use '../../../breakpoints';

#ui-element-dialog-content {
    width: 100%;
    padding: 0 var(--extra-large-padding);
    min-height: 500px;
    width: 600px;

    .carousel {
        height: 100%;
    }
}

@media only screen and (max-width: breakpoints.$mobile-breakpoint) {
    
}